.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    color: #6b7280;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 3px solid transparent;
}

.explore-menu-list-item .active {
    border-color: #9333ea;
    padding: 3px;
    box-shadow: 0 8px 20px rgba(147, 51, 234, 0.2);
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #6b7280;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #E2E2E2;
    border: none;
}
@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .explore-menu h1 {
        font-size: 24px;
    }
    
    .explore-menu-list-item img {
        width: 15vw;
        min-width: 70px;
    }

    .explore-menu-list-item p {
        font-size: 14px;
    }
}